body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner{
  width: 100%;
  height: 100vh;
  background: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo{
  /* background: url("images/logo.png"); */
  width: 15%;
  height: auto;
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-top: 80px;
  /* background-color: wheat; */
}

.img_mod{
  width: 50%;
  height: 15vh;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar_content{
  display: flex;
  height: 100px;
  align-items: center;
  /* background-color: white; */
  justify-content: space-between;
}

.ul_content{
  width: 40%;
  height: 10vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;
  
}

.ul_content li {
  list-style: none;
  padding: 50px;
}

.ul_content li a {
  text-decoration: none;
  color:white;
}

.ul_content li a:hover{
  color: yellow;
}

.about_img{
  background-image: url('./images/fix.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  padding: 200px;
}

.left_about{
  width: 40%;
  height: 40vh;
  /* background-color: aliceblue; */
  color: rgba(170, 168, 168, 0.884);
}

.left_about h4{
  text-align: justify;
}

.welcome_div{
  background-color: white;
  height: 40vh;
  width: 100%;
  padding: 20px;
}

.design_div {
  margin: 0 auto;
  width: 90%;
  height: 40vh;
  background-color: beige;
}

.title_div {
  text-align: center;
  margin: 0 auto;
  padding: 20px 400px;
  background-color: darkgoldenrod;
  font-family: 'Times New Roman', Times, serif;
}

.title_div h2 {
  font-family: 'Nunito', sans-serif;
}

.title_div p {
  margin: 0 auto;
}

.knowledge{
  width: 80%;
  height: 25vh;
  background-color: darkorchid;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap ;
}

.progress{
  width: 30%;
  height: 8vh;
  background-color: skyblue;
  margin: 0 auto;
  margin-top: 20px;
  
}

.progress h4 {
  text-align: center;
  margin-top: 15px;

}

.progress_bar{
  /* padding: 20px; */
  width: 90%;
  height: 1vh;
  background-color: #e9ecef;
  margin: 0 auto;
  margin-top: 20px;
}

.progress_display{
  width: 55%;
  height: 1vh;
  background-color: black;
  margin: 0 auto;
  border-radius: 50px;
}

.contact_div{
  background-color: white;
  height: 60vh;
  width: 100%;
  background-image: url('./images/foods.jpg');
  object-fit: scale-down;
  padding: 70px 100px;
}

.hire_div{
  width: 70%;
  height: 55vh;
  /* background-color: blanchedalmond; */
  padding: 10px 50px;
  margin: 0 auto;
  
}

.hire_title{
  height: 15vh;
  width: 70%;
  /* background-color: blueviolet; */
  margin: 0 auto;
  color: white;
}
.hire_title p {
  z-index: 1;
  position: relative;
}

.hire_stats{
  width: 1005;
  height: 35vh;
  /* background-color: darkcyan; */
  padding: 60px 60px;
  display: flex;

}

.hire_category{
  width: 35%;
  height: 25vh;
  /* background-color: #ffffff; */
  background: rgba(255, 255, 255, 0.1);;
  margin-left: 2%;
  border-radius: 4px;
  color: white;
  transition: 0.3s ease-out;
  
}

.timeline_div{
  height: 100vh;
  width: 100%;

}

.hire_logo{
  background-image: url('./images/logo.png');
  height: 12vh;
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
  /* background-color: gainsboro; */
  background-repeat: no-repeat;
  background-position-x: center;
  
}

.hire_cat_desc p{
  color: white;

}

.hire_cat_name h3{
  text-align: center;
}

.hire_category:hover{
  background-color: black;
  opacity: 0.7;
  
}

.timeline_div {
  background-image: url('./images/2.jpg');
  background-position-y: center;
  width: 100%;
  height: 90vh;
  opacity: 1;
  background-attachment: fixed;
  color: white;
  
  
  
}

.timeline_columns{
  width: 90%;
  height: 70vh;
  /* background-color: darkgoldenrod; */
  margin: 0 auto;
  padding: 20px 80px;
  display: flex;
}

.timeline_column1{
  width: 50%;
  height: 70vh;
  /* background-color: darkorchid; */
}

.timeline_column1 h1{
  text-align: left;
}

.timeline_column2{
  width: 50%;
  height: 70vh;
  /* background-color: darkolivegreen; */
}

.timeline_column2 h1{
  text-align: left;
}

.timeline_separate{
  width: 90%;
  height: 20vh;
  margin-top: 2%;
  border-bottom: solid 1px rgba(250, 250, 250, 0.32);
}

.timeline_date, .timeline_details, .timeline_name{
  width: 90%;
  height: 4vh;
  /* background-color: rgb(55, 145, 145); */
}

.footer{
  width: 100%;
  height: 25vh;
  background-color: rgb(19, 16, 16);
  padding: 20px 100px;
  display: block;

}

.footer_div{
  width: 80%;
  height: 20vh;
  /* background-color: rgba(152, 2, 172, 0.904); */
  margin: 0 auto;
  padding: 10px 10px;
}


.footer_icons{
  width: 100%;
  height: 15vh;
  /* background-color: orange; */
  margin: 0 auto;
}


.footer_copyrights{
  width: 100%;
  height: 10vh;
  /* background-color: skyblue; */
  margin: 0 auto;
  padding-top: 2%;
}

.footer_separate{
  border-bottom: solid 1px rgba(250, 250, 250, 0.32);
  color: white;
  height: 10vh;
  width: 100%;
  /* background-color: red; */
}

.footer_last{
  width: 100%;
  height: 5vh;
  /* background-color: rebeccapurple; */
}
.footer_last p{
  width: 100%;
  height: 3vh;
  text-align: center;
  margin-top: 5px;
  color: white;
  
}


